name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.16', '1.15', '1.14', '1.13']

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Set up a Vertica server
        env:
          VERTICA_CE_URL: "https://vertica-community-edition-for-testing.s3.amazonaws.com/XCz9cp7m/vertica-10.1.1-0.x86_64.RHEL6.rpm"
        run: |
          git clone https://github.com/jbfavre/docker-vertica.git
          curl $VERTICA_CE_URL --create-dirs -o docker-vertica/packages/vertica-ce.latest.rpm
          docker build -f docker-vertica/Dockerfile.centos.7_9.x --build-arg VERTICA_PACKAGE=vertica-ce.latest.rpm -t jbfavre/vertica docker-vertica
          docker images
          docker run --hostname vertica-docker --name vertica_docker -d -p 5433:5433 jbfavre/vertica
          sleep 60
      - name: Run tests
        run: |
          echo "---- Generating certs"
          ./resources/tests/genCerts.sh

          echo "---- Testing before enabling SSL in vertica"
          go test -race . -args --locator localhost:5433 --user dbadmin
          # go test -race . -args --locator localhost:5433 --user dbadmin --use_prepared_statements=0
          go test -race ./logger

          echo "---- Setting up SSLPrivateKey and SSLCertificate, and testing in tlsmode server"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/vsql -c "SELECT SET_CONFIG_PARAMETER('SSLPrivateKey', '`cat ./resources/tests/ssl/server.key`');"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/vsql -c "SELECT SET_CONFIG_PARAMETER('SSLCertificate', '`cat ./resources/tests/ssl/server.crt`');"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/vsql -c "ALTER DATABASE docker SET EnableSSL=1;"
          echo "------ Restarting the database"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/admintools --tool stop_db --database docker
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/admintools --tool start_db --database docker
          echo "------ Testing with --tlsmode=server"
          go test -race . -args --locator localhost:5433 --user dbadmin --tlsmode=server
          # go test -race . -args --locator localhost:5433 --user dbadmin --tlsmode=server --use_prepared_statements=0

          echo "---- Setting up SSLCa and testing in tlsmode custom"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/vsql -c "SELECT SET_CONFIG_PARAMETER('SSLCa', '`cat ./resources/tests/ssl/rootCA.crt`');"
          echo "------ Restarting the database"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/admintools --tool stop_db --database docker
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/admintools --tool start_db --database docker
          echo "------ Testing with --tlsmode=custom"
          go test -race . -args --locator localhost:5433 --user dbadmin --tlsmode=custom
          # go test -race . -args --locator localhost:5433 --user dbadmin --tlsmode=custom --use_prepared_statements=0
